# Data mining, Project group Nestlé

## Happiness Report

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
WHR = pd.read_excel("https://s3.amazonaws.com/happiness-report/2019/Chapter2OnlineData.xls")

In [4]:
WHR.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,...,NaN,NaN,0.441906,0.286315,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,...,NaN,NaN,0.327318,0.275833,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,...,NaN,NaN,0.336764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,...,NaN,NaN,0.344540,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
WHR.columns

Index(['Country name', 'Year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'Confidence in national government', 'Democratic Quality',
       'Delivery Quality', 'Standard deviation of ladder by country-year',
       'Standard deviation/Mean of ladder by country-year',
       'GINI index (World Bank estimate)',
       'GINI index (World Bank estimate), average 2000-16',
       'gini of household income reported in Gallup, by wp5-year',
       'Most people can be trusted, Gallup',
       'Most people can be trusted, WVS round 1981-1984',
       'Most people can be trusted, WVS round 1989-1993',
       'Most people can be trusted, WVS round 1994-1998',
       'Most people can be trusted, WVS round 1999-2004',
       'Most people can be trusted, WVS round 2005-2009',
       'Most people can be trusted, WVS round 2010-2014'],
      dtype='object')

In [6]:
to_drop = [ 'Social support','Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'Confidence in national government', 'Democratic Quality',
       'Delivery Quality', 'Standard deviation of ladder by country-year',
       'Standard deviation/Mean of ladder by country-year',
       'GINI index (World Bank estimate)',
       'GINI index (World Bank estimate), average 2000-16',
       'gini of household income reported in Gallup, by wp5-year',
       'Most people can be trusted, Gallup',
       'Most people can be trusted, WVS round 1981-1984',
       'Most people can be trusted, WVS round 1989-1993',
       'Most people can be trusted, WVS round 1994-1998',
       'Most people can be trusted, WVS round 1999-2004',
       'Most people can be trusted, WVS round 2005-2009',
       'Most people can be trusted, WVS round 2010-2014',]

WHR.drop(to_drop, inplace=True, axis=1)

In [7]:
WHR

,Country name,Year,Life Ladder,Log GDP per capita,Healthy life expectancy at birth
0,Afghanistan,2008,3.723590,7.168690,50.799999
1,Afghanistan,2009,4.401778,7.333790,51.200001
2,Afghanistan,2010,4.758381,7.386629,51.599998
3,Afghanistan,2011,3.831719,7.415019,51.919998
4,Afghanistan,2012,3.782938,7.517126,52.240002
5,Afghanistan,2013,3.572100,7.522238,52.560001
6,Afghanistan,2014,3.130896,7.516955,52.880001
7,Afghanistan,2015,3.982855,7.500539,53.200001
8,Afghanistan,2016,4.220169,7.497038,53.000000
9,Afghanistan,2017,2.661718,7.497755,52.799999
10,Afghanistan,2018,2.694303,7.494588,52.599998
11,Albania,2007,4.634252,9.077331,65.800003
12,Albania,2009,5.485470,9.161638,66.199997
13,Albania,2010,5.268937,9.203032,66.400002
14,Albania,2011,5.867422,9.230904,66.680000
15,Albania,2012,5.510124,9.246655,66.959999
16,Albania,2013,4.550648,9.258445,67.239998
17,Albania,2014,4.813763,9.278104,67.519997
18,Albania,2015,4.606651,9.302960,67.800003
19,Albania,2016,4.511101,9.337532,68.099998
20,Albania,2017,4.639548,9.376145,68.400002
21,Albania,2018,5.004403,9.412399,68.699997
22,Algeria,2010,5.463567,9.462701,64.500000
23,Algeria,2011,5.317194,9.471962,64.660004
24,Algeria,2012,5.604596,9.485086,64.820000
25,Algeria,2014,6.354898,9.509210,65.139999
26,Algeria,2016,5.340854,9.541166,65.500000
27,Algeria,2017,5.248912,9.540639,65.699997
28,Algeria,2018,5.043086,9.557952,65.900002
29,Angola,2011,5.589001,8.684613,52.500000
...,...,...,...,...,...
1674,Yemen,2014,3.967958,8.233982,54.299999
1675,Yemen,2015,2.982674,7.744412,54.299999
1676,Yemen,2016,3.825631,7.299221,55.099998
1677,Yemen,2017,3.253560,NaN,55.900002
1678,Yemen,2018,3.057514,NaN,56.700001
1679,Zambia,2006,4.824455,7.866006,44.259998
1680,Zambia,2007,3.998293,7.918941,45.720001
1681,Zambia,2008,4.730263,7.966175,47.180000
1682,Zambia,2009,5.260361,8.026193,48.639999
1683,Zambia,2011,4.999114,8.120028,50.840000
1684,Zambia,2012,5.013375,8.163204,51.580002
1685,Zambia,2013,5.243996,8.182191,52.320000
1686,Zambia,2014,4.345837,8.197678,53.060001
1687,Zambia,2015,4.843164,8.196217,53.799999
1688,Zambia,2016,4.347544,8.203072,54.299999
1689,Zambia,2017,3.932777,8.213179,54.799999
1690,Zambia,2018,4.041488,8.223958,55.299999
1691,Zimbabwe,2006,3.826268,7.366704,41.580002
1692,Zimbabwe,2007,3.280247,7.313939,42.860001
1693,Zimbabwe,2008,3.174264,7.102516,44.139999
1694,Zimbabwe,2009,4.055914,7.197595,45.419998
1695,Zimbabwe,2010,4.681570,7.296330,46.700001
1696,Zimbabwe,2011,4.845642,7.418864,48.119999
1697,Zimbabwe,2012,4.955101,7.534424,49.540001
1698,Zimbabwe,2013,4.690188,7.565154,50.959999
1699,Zimbabwe,2014,4.184451,7.562753,52.380001
1700,Zimbabwe,2015,3.703191,7.556052,53.799999
1701,Zimbabwe,2016,3.735400,7.538829,54.400002
1702,Zimbabwe,2017,3.638300,7.549491,55.000000
1703,Zimbabwe,2018,3.616480,7.553395,55.599998

In [9]:
WHR.dropna(inplace=True)

In [10]:
WHR

,Country name,Year,Life Ladder,Log GDP per capita,Healthy life expectancy at birth
0,Afghanistan,2008,3.723590,7.168690,50.799999
1,Afghanistan,2009,4.401778,7.333790,51.200001
2,Afghanistan,2010,4.758381,7.386629,51.599998
3,Afghanistan,2011,3.831719,7.415019,51.919998
4,Afghanistan,2012,3.782938,7.517126,52.240002
5,Afghanistan,2013,3.572100,7.522238,52.560001
6,Afghanistan,2014,3.130896,7.516955,52.880001
7,Afghanistan,2015,3.982855,7.500539,53.200001
8,Afghanistan,2016,4.220169,7.497038,53.000000
9,Afghanistan,2017,2.661718,7.497755,52.799999
10,Afghanistan,2018,2.694303,7.494588,52.599998
11,Albania,2007,4.634252,9.077331,65.800003
12,Albania,2009,5.485470,9.161638,66.199997
13,Albania,2010,5.268937,9.203032,66.400002
14,Albania,2011,5.867422,9.230904,66.680000
15,Albania,2012,5.510124,9.246655,66.959999
16,Albania,2013,4.550648,9.258445,67.239998
17,Albania,2014,4.813763,9.278104,67.519997
18,Albania,2015,4.606651,9.302960,67.800003
19,Albania,2016,4.511101,9.337532,68.099998
20,Albania,2017,4.639548,9.376145,68.400002
21,Albania,2018,5.004403,9.412399,68.699997
22,Algeria,2010,5.463567,9.462701,64.500000
23,Algeria,2011,5.317194,9.471962,64.660004
24,Algeria,2012,5.604596,9.485086,64.820000
25,Algeria,2014,6.354898,9.509210,65.139999
26,Algeria,2016,5.340854,9.541166,65.500000
27,Algeria,2017,5.248912,9.540639,65.699997
28,Algeria,2018,5.043086,9.557952,65.900002
29,Angola,2011,5.589001,8.684613,52.500000
...,...,...,...,...,...
1672,Yemen,2012,4.060601,8.241021,54.299999
1673,Yemen,2013,4.217679,8.261729,54.299999
1674,Yemen,2014,3.967958,8.233982,54.299999
1675,Yemen,2015,2.982674,7.744412,54.299999
1676,Yemen,2016,3.825631,7.299221,55.099998
1679,Zambia,2006,4.824455,7.866006,44.259998
1680,Zambia,2007,3.998293,7.918941,45.720001
1681,Zambia,2008,4.730263,7.966175,47.180000
1682,Zambia,2009,5.260361,8.026193,48.639999
1683,Zambia,2011,4.999114,8.120028,50.840000
1684,Zambia,2012,5.013375,8.163204,51.580002
1685,Zambia,2013,5.243996,8.182191,52.320000
1686,Zambia,2014,4.345837,8.197678,53.060001
1687,Zambia,2015,4.843164,8.196217,53.799999
1688,Zambia,2016,4.347544,8.203072,54.299999
1689,Zambia,2017,3.932777,8.213179,54.799999
1690,Zambia,2018,4.041488,8.223958,55.299999
1691,Zimbabwe,2006,3.826268,7.366704,41.580002
1692,Zimbabwe,2007,3.280247,7.313939,42.860001
1693,Zimbabwe,2008,3.174264,7.102516,44.139999
1694,Zimbabwe,2009,4.055914,7.197595,45.419998
1695,Zimbabwe,2010,4.681570,7.296330,46.700001
1696,Zimbabwe,2011,4.845642,7.418864,48.119999
1697,Zimbabwe,2012,4.955101,7.534424,49.540001
1698,Zimbabwe,2013,4.690188,7.565154,50.959999
1699,Zimbabwe,2014,4.184451,7.562753,52.380001
1700,Zimbabwe,2015,3.703191,7.556052,53.799999
1701,Zimbabwe,2016,3.735400,7.538829,54.400002
1702,Zimbabwe,2017,3.638300,7.549491,55.000000
1703,Zimbabwe,2018,3.616480,7.553395,55.599998

### Features correlations with target value Life Ladder (happinness score)

In [11]:
WHR.corr(method="pearson", min_periods=20)["Life Ladder"].sort_values(ascending=False)

Life Ladder                                                 1.000000
Log GDP per capita                                          0.779064
Healthy life expectancy at birth                            0.736797
Delivery Quality                                            0.707940
Social support                                              0.702461
Democratic Quality                                          0.614572
Most people can be trusted, WVS round 1981-1984             0.554803
Positive affect                                             0.543377
Freedom to make life choices                                0.520988
Most people can be trusted, WVS round 2005-2009             0.477312
Most people can be trusted, WVS round 1994-1998             0.475632
Most people can be trusted, WVS round 2010-2014             0.348629
Most people can be trusted, WVS round 1999-2004             0.266804
Generosity                                                  0.197423
Most people can be trusted, Gallup                          0.189750
Year                                                       -0.007075
Confidence in national government                          -0.092046
GINI index (World Bank estimate)                           -0.106342
Standard deviation of ladder by country-year               -0.184659
GINI index (World Bank estimate), average 2000-16          -0.194244
Most people can be trusted, WVS round 1989-1993            -0.269036
Negative affect                                            -0.279331
gini of household income reported in Gallup, by wp5-year   -0.304404
Perceptions of corruption                                  -0.420750
Standard deviation/Mean of ladder by country-year          -0.753971
Name: Life Ladder, dtype: float64

In [12]:
WHR.corr(method="pearson", min_periods=20)["Life Ladder"].abs().sort_values(ascending=False)

Life Ladder                                                 1.000000
Log GDP per capita                                          0.779064
Standard deviation/Mean of ladder by country-year           0.753971
Healthy life expectancy at birth                            0.736797
Delivery Quality                                            0.707940
Social support                                              0.702461
Democratic Quality                                          0.614572
Most people can be trusted, WVS round 1981-1984             0.554803
Positive affect                                             0.543377
Freedom to make life choices                                0.520988
Most people can be trusted, WVS round 2005-2009             0.477312
Most people can be trusted, WVS round 1994-1998             0.475632
Perceptions of corruption                                   0.420750
Most people can be trusted, WVS round 2010-2014             0.348629
gini of household income reported in Gallup, by wp5-year    0.304404
Negative affect                                             0.279331
Most people can be trusted, WVS round 1989-1993             0.269036
Most people can be trusted, WVS round 1999-2004             0.266804
Generosity                                                  0.197423
GINI index (World Bank estimate), average 2000-16           0.194244
Most people can be trusted, Gallup                          0.189750
Standard deviation of ladder by country-year                0.184659
GINI index (World Bank estimate)                            0.106342
Confidence in national government                           0.092046
Year                                                        0.007075
Name: Life Ladder, dtype: float64

### Unemployement rate data set

In [20]:
TauxChomage = pd.read_csv("https://raw.githubusercontent.com/hackan98/DMML2019_Team_Nestle/master/data/tauxchomage.csv")

In [22]:
TauxChomage

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,UNEMP,MEN,PC_LF,A,1979,5.162579,NaN
1,AUS,UNEMP,MEN,PC_LF,A,1980,5.068766,NaN
2,AUS,UNEMP,MEN,PC_LF,A,1981,4.808415,NaN
3,AUS,UNEMP,MEN,PC_LF,A,1982,6.345981,NaN
4,AUS,UNEMP,MEN,PC_LF,A,1983,9.716337,NaN
5,AUS,UNEMP,MEN,PC_LF,A,1984,8.686903,NaN
6,AUS,UNEMP,MEN,PC_LF,A,1985,7.943595,NaN
7,AUS,UNEMP,MEN,PC_LF,A,1986,7.669734,NaN
8,AUS,UNEMP,MEN,PC_LF,A,1987,7.761060,NaN
9,AUS,UNEMP,MEN,PC_LF,A,1988,6.768215,NaN
10,AUS,UNEMP,MEN,PC_LF,A,1989,5.711262,NaN
11,AUS,UNEMP,MEN,PC_LF,A,1990,6.732783,NaN
12,AUS,UNEMP,MEN,PC_LF,A,1991,9.886825,NaN
13,AUS,UNEMP,MEN,PC_LF,A,1992,11.307370,NaN
14,AUS,UNEMP,MEN,PC_LF,A,1993,11.510060,NaN
15,AUS,UNEMP,MEN,PC_LF,A,1994,9.983360,NaN
16,AUS,UNEMP,MEN,PC_LF,A,1995,8.742694,NaN
17,AUS,UNEMP,MEN,PC_LF,A,1996,8.709963,NaN
18,AUS,UNEMP,MEN,PC_LF,A,1997,8.583183,NaN
19,AUS,UNEMP,MEN,PC_LF,A,1998,7.941654,NaN
20,AUS,UNEMP,MEN,PC_LF,A,1999,7.037105,NaN
21,AUS,UNEMP,MEN,PC_LF,A,2000,6.456890,NaN
22,AUS,UNEMP,MEN,PC_LF,A,2001,6.978704,NaN
23,AUS,UNEMP,MEN,PC_LF,A,2002,6.531490,NaN
24,AUS,UNEMP,MEN,PC_LF,A,2003,5.888669,NaN
25,AUS,UNEMP,MEN,PC_LF,A,2004,5.281922,NaN
26,AUS,UNEMP,MEN,PC_LF,A,2005,4.879681,NaN
27,AUS,UNEMP,MEN,PC_LF,A,2006,4.669972,NaN
28,AUS,UNEMP,MEN,PC_LF,A,2007,4.041836,NaN
29,AUS,UNEMP,MEN,PC_LF,A,2008,3.954261,NaN
...,...,...,...,...,...,...,...,...
29003,LTU,UNEMP,WOMEN,PC_LF,Q,2012-Q1,12.408140,NaN
29004,LTU,UNEMP,WOMEN,PC_LF,Q,2012-Q2,11.132290,NaN
29005,LTU,UNEMP,WOMEN,PC_LF,Q,2012-Q3,10.724080,NaN
29006,LTU,UNEMP,WOMEN,PC_LF,Q,2012-Q4,12.015470,NaN
29007,LTU,UNEMP,WOMEN,PC_LF,Q,2013-Q1,11.321900,NaN
29008,LTU,UNEMP,WOMEN,PC_LF,Q,2013-Q2,10.077300,NaN
29009,LTU,UNEMP,WOMEN,PC_LF,Q,2013-Q3,10.101930,NaN
29010,LTU,UNEMP,WOMEN,PC_LF,Q,2013-Q4,10.407640,NaN
29011,LTU,UNEMP,WOMEN,PC_LF,Q,2014-Q1,10.784030,NaN
29012,LTU,UNEMP,WOMEN,PC_LF,Q,2014-Q2,9.293753,NaN
29013,LTU,UNEMP,WOMEN,PC_LF,Q,2014-Q3,7.886939,NaN
29014,LTU,UNEMP,WOMEN,PC_LF,Q,2014-Q4,8.899899,NaN
29015,LTU,UNEMP,WOMEN,PC_LF,Q,2015-Q1,8.806686,NaN
29016,LTU,UNEMP,WOMEN,PC_LF,Q,2015-Q2,8.017136,NaN
29017,LTU,UNEMP,WOMEN,PC_LF,Q,2015-Q3,7.641408,NaN
29018,LTU,UNEMP,WOMEN,PC_LF,Q,2015-Q4,8.188629,NaN
29019,LTU,UNEMP,WOMEN,PC_LF,Q,2016-Q1,6.993334,NaN
29020,LTU,UNEMP,WOMEN,PC_LF,Q,2016-Q2,6.614413,NaN
29021,LTU,UNEMP,WOMEN,PC_LF,Q,2016-Q3,6.563824,NaN
29022,LTU,UNEMP,WOMEN,PC_LF,Q,2016-Q4,6.435836,NaN
29023,LTU,UNEMP,WOMEN,PC_LF,Q,2017-Q1,6.012628,NaN
29024,LTU,UNEMP,WOMEN,PC_LF,Q,2017-Q2,5.431131,NaN
29025,LTU,UNEMP,WOMEN,PC_LF,Q,2017-Q3,5.578653,NaN
29026,LTU,UNEMP,WOMEN,PC_LF,Q,2017-Q4,5.686065,NaN
29027,LTU,UNEMP,WOMEN,PC_LF,Q,2018-Q1,5.652736,NaN
29028,LTU,UNEMP,WOMEN,PC_LF,Q,2018-Q2,5.307678,NaN
29029,LTU,UNEMP,WOMEN,PC_LF,Q,2018-Q3,5.179378,NaN
29030,LTU,UNEMP,WOMEN,PC_LF,Q,2018-Q4,5.494695,NaN
29031,LTU,UNEMP,WOMEN,PC_LF,Q,2019-Q1,5.922817,NaN
29032,LTU,UNEMP,WOMEN,PC_LF,Q,2019-Q2,5.451805,NaN

### Poverty rate data set

In [24]:
TauxPauvrete = pd.read_csv("https://raw.githubusercontent.com/hackan98/DMML2019_Team_Nestle/master/data/taux_pauvrete.csv")

In [25]:
TauxPauvrete.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME  Value Flag Codes
0      AUS   POVERTY     TOT      RT         A  2012  0.140        NaN
1      AUS   POVERTY     TOT      RT         A  2014  0.128        NaN
2      AUS   POVERTY     TOT      RT         A  2016  0.121        NaN
3      AUT   POVERTY     TOT      RT         A  2007  0.097        NaN
4      AUT   POVERTY     TOT      RT         A  2008  0.092        NaN

### Child mortality rate data set

In [21]:
TauxMortaliteInfantile = pd.read_csv("https://raw.githubusercontent.com/hackan98/DMML2019_Team_Nestle/master/data/taux_mortalite_infantile.csv")

In [22]:
TauxMortaliteInfantile.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2006,4.7,NaN
1,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2007,4.1,NaN
2,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2008,4.1,NaN
3,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2009,4.2,NaN
4,AUS,INFANTMORTALITY,TOT,DEATH_1000BIRTH,A,2010,4.1,NaN

### Suicide rate data set

In [12]:
TauxSuicide = pd.read_csv("https://raw.githubusercontent.com/hackan98/DMML2019_Team_Nestle/master/data/tauxsuicide.csv")

In [15]:
TauxSuicide

    LOCATION INDICATOR SUBJECT    MEASURE FREQUENCY  TIME  Value Flag Codes
0        AUS   SUICIDE     TOT  100000PER         A  2006   10.5        NaN
1        AUS   SUICIDE     TOT  100000PER         A  2007   10.6        NaN
2        AUS   SUICIDE     TOT  100000PER         A  2008   10.9        NaN
3        AUS   SUICIDE     TOT  100000PER         A  2009   10.7        NaN
4        AUS   SUICIDE     TOT  100000PER         A  2010   10.9        NaN
5        AUS   SUICIDE     TOT  100000PER         A  2011   10.7        NaN
6        AUS   SUICIDE     TOT  100000PER         A  2012   11.4        NaN
7        AUS   SUICIDE     TOT  100000PER         A  2013   11.3        NaN
8        AUS   SUICIDE     TOT  100000PER         A  2014   12.5        NaN
9        AUS   SUICIDE     TOT  100000PER         A  2015   12.9        NaN
10       AUS   SUICIDE     TOT  100000PER         A  2016   11.9        NaN
11       AUT   SUICIDE     TOT  100000PER         A  2006   14.7        NaN
12       AUT   SUICIDE     TOT  100000PER         A  2007   14.6        NaN
13       AUT   SUICIDE     TOT  100000PER         A  2008   14.1        NaN
14       AUT   SUICIDE     TOT  100000PER         A  2009   14.1        NaN
15       AUT   SUICIDE     TOT  100000PER         A  2010   13.9        NaN
16       AUT   SUICIDE     TOT  100000PER         A  2011   14.1        NaN
17       AUT   SUICIDE     TOT  100000PER         A  2012   13.7        NaN
18       AUT   SUICIDE     TOT  100000PER         A  2013   13.6        NaN
19       AUT   SUICIDE     TOT  100000PER         A  2014   13.9        NaN
20       AUT   SUICIDE     TOT  100000PER         A  2015   12.9        NaN
21       AUT   SUICIDE     TOT  100000PER         A  2016   12.2        NaN
22       AUT   SUICIDE     TOT  100000PER         A  2017   12.4        NaN
23       BEL   SUICIDE     TOT  100000PER         A  2006   17.7        NaN
24       BEL   SUICIDE     TOT  100000PER         A  2007   16.7        NaN
25       BEL   SUICIDE     TOT  100000PER         A  2008   17.9        NaN
26       BEL   SUICIDE     TOT  100000PER         A  2009   17.9        NaN
27       BEL   SUICIDE     TOT  100000PER         A  2010   17.8        NaN
28       BEL   SUICIDE     TOT  100000PER         A  2011   18.1        NaN
29       BEL   SUICIDE     TOT  100000PER         A  2012   17.4        NaN
..       ...       ...     ...        ...       ...   ...    ...        ...
401      LVA   SUICIDE     TOT  100000PER         A  2007   19.9        NaN
402      LVA   SUICIDE     TOT  100000PER         A  2008   23.1        NaN
403      LVA   SUICIDE     TOT  100000PER         A  2009   23.1        NaN
404      LVA   SUICIDE     TOT  100000PER         A  2010   19.7        NaN
405      LVA   SUICIDE     TOT  100000PER         A  2011   19.9        NaN
406      LVA   SUICIDE     TOT  100000PER         A  2012   20.5        NaN
407      LVA   SUICIDE     TOT  100000PER         A  2013   17.8        NaN
408      LVA   SUICIDE     TOT  100000PER         A  2014   18.1        NaN
409      LVA   SUICIDE     TOT  100000PER         A  2015   18.1        NaN
410      LTU   SUICIDE     TOT  100000PER         A  2006   31.2        NaN
411      LTU   SUICIDE     TOT  100000PER         A  2007   31.0        NaN
412      LTU   SUICIDE     TOT  100000PER         A  2008   33.7        NaN
413      LTU   SUICIDE     TOT  100000PER         A  2009   34.5        NaN
414      LTU   SUICIDE     TOT  100000PER         A  2010   31.6        NaN
415      LTU   SUICIDE     TOT  100000PER         A  2011   32.2        NaN
416      LTU   SUICIDE     TOT  100000PER         A  2012   29.5        NaN
417      LTU   SUICIDE     TOT  100000PER         A  2013   34.8        NaN
418      LTU   SUICIDE     TOT  100000PER         A  2014   29.8        NaN
419      LTU   SUICIDE     TOT  100000PER         A  2015   29.0        NaN
420      LTU   SUICIDE     TOT  100000PER         A  2016   26.7        NaN
421      LTU   SUICIDE     TOT  100000PER         A  2017   24.4        NaN
422      CRI   SUICIDE     TOT  100000PER         A  2006    8.6        NaN
423      CRI   SUICIDE     TOT  100000PER         A  2007    6.4        NaN
424      CRI   SUICIDE     TOT  100000PER         A  2008    6.3        NaN
425      CRI   SUICIDE     TOT  100000PER         A  2009    6.6        NaN
426      CRI   SUICIDE     TOT  100000PER         A  2010    7.1        NaN
427      CRI   SUICIDE     TOT  100000PER         A  2011    7.1        NaN
428      CRI   SUICIDE     TOT  100000PER         A  2012    6.7        NaN
429      CRI   SUICIDE     TOT  100000PER         A  2013    7.0        NaN
430      CRI   SUICIDE     TOT  100000PER         A  2014    5.8        NaN

[431 rows x 8 columns]

In [14]:
TauxSuicide.columns

Index(['LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'TIME',
       'Value', 'Flag Codes'],
      dtype='object')

In [16]:
to_drop = [ 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'Flag Codes']

TauxSuicide.drop(to_drop, inplace=True, axis=1)

In [18]:
TauxSuicide.head()

  LOCATION  TIME  Value
0      AUS  2006   10.5
1      AUS  2007   10.6
2      AUS  2008   10.9
3      AUS  2009   10.7
4      AUS  2010   10.9

In [19]:
TauxSuicide.dropna()

    LOCATION  TIME  Value
0        AUS  2006   10.5
1        AUS  2007   10.6
2        AUS  2008   10.9
3        AUS  2009   10.7
4        AUS  2010   10.9
5        AUS  2011   10.7
6        AUS  2012   11.4
7        AUS  2013   11.3
8        AUS  2014   12.5
9        AUS  2015   12.9
10       AUS  2016   11.9
11       AUT  2006   14.7
12       AUT  2007   14.6
13       AUT  2008   14.1
14       AUT  2009   14.1
15       AUT  2010   13.9
16       AUT  2011   14.1
17       AUT  2012   13.7
18       AUT  2013   13.6
19       AUT  2014   13.9
20       AUT  2015   12.9
21       AUT  2016   12.2
22       AUT  2017   12.4
23       BEL  2006   17.7
24       BEL  2007   16.7
25       BEL  2008   17.9
26       BEL  2009   17.9
27       BEL  2010   17.8
28       BEL  2011   18.1
29       BEL  2012   17.4
..       ...   ...    ...
401      LVA  2007   19.9
402      LVA  2008   23.1
403      LVA  2009   23.1
404      LVA  2010   19.7
405      LVA  2011   19.9
406      LVA  2012   20.5
407      LVA  2013   17.8
408      LVA  2014   18.1
409      LVA  2015   18.1
410      LTU  2006   31.2
411      LTU  2007   31.0
412      LTU  2008   33.7
413      LTU  2009   34.5
414      LTU  2010   31.6
415      LTU  2011   32.2
416      LTU  2012   29.5
417      LTU  2013   34.8
418      LTU  2014   29.8
419      LTU  2015   29.0
420      LTU  2016   26.7
421      LTU  2017   24.4
422      CRI  2006    8.6
423      CRI  2007    6.4
424      CRI  2008    6.3
425      CRI  2009    6.6
426      CRI  2010    7.1
427      CRI  2011    7.1
428      CRI  2012    6.7
429      CRI  2013    7.0
430      CRI  2014    5.8

[431 rows x 3 columns]

In [36]:
countriesName={
'AUS':'Australia',
'AUT':'Austria',
'BEL':'Belgium',
'CAN':'Canada',
'CZE':'Czechia',
'DNK':'Denmark',
'FIN':'Finland',
'FR':'France',
'DEU':'Germany',
'GRC':'Greece',
'HUN':'Hungary',
'ISL':'Iceland',
'IRL':'Ireland',
'ITA':'Italy',
'KOR':'Korea',
'LUX':'Luxembourg',
'MEX':'Mexico',
'NLD':'Netherlands',
'NZL':'New Zealand',
'NOR':'Norway',
'POL':'Poland',
'PRT':'Puerto Rico',
'SVK':'Slovakia',
'ESP':'Spain',
'SWE':'Sweden',
'CHE':'Switzerland',
'TUR':'Turkey',
'GBR':'United Kingdom',
'USA':'United States',
'BRA':'Brasil',
'CHL':'Chile',
'EST':'Estonia',
'IDN':'Indonesia',
'ISR':'Israel',
'RUS':'Russia',
'SVN':'Slovenia',
'ZAF':'South Africa',
'COL':'Colombia',
'LVA':'Latvia',
'LTU':'Lithuania',
'CRI':'Costa Rica'    
}

In [37]:
TauxSuicide['COUNTRY'] = TauxSuicide['LOCATION'].map(countriesName)

In [38]:
TauxSuicide

    LOCATION  TIME  Value     COUNTRY
0        AUS  2006   10.5   Australia
1        AUS  2007   10.6   Australia
2        AUS  2008   10.9   Australia
3        AUS  2009   10.7   Australia
4        AUS  2010   10.9   Australia
5        AUS  2011   10.7   Australia
6        AUS  2012   11.4   Australia
7        AUS  2013   11.3   Australia
8        AUS  2014   12.5   Australia
9        AUS  2015   12.9   Australia
10       AUS  2016   11.9   Australia
11       AUT  2006   14.7     Austria
12       AUT  2007   14.6     Austria
13       AUT  2008   14.1     Austria
14       AUT  2009   14.1     Austria
15       AUT  2010   13.9     Austria
16       AUT  2011   14.1     Austria
17       AUT  2012   13.7     Austria
18       AUT  2013   13.6     Austria
19       AUT  2014   13.9     Austria
20       AUT  2015   12.9     Austria
21       AUT  2016   12.2     Austria
22       AUT  2017   12.4     Austria
23       BEL  2006   17.7     Belgium
24       BEL  2007   16.7     Belgium
25       BEL  2008   17.9     Belgium
26       BEL  2009   17.9     Belgium
27       BEL  2010   17.8     Belgium
28       BEL  2011   18.1     Belgium
29       BEL  2012   17.4     Belgium
..       ...   ...    ...         ...
401      LVA  2007   19.9      Latvia
402      LVA  2008   23.1      Latvia
403      LVA  2009   23.1      Latvia
404      LVA  2010   19.7      Latvia
405      LVA  2011   19.9      Latvia
406      LVA  2012   20.5      Latvia
407      LVA  2013   17.8      Latvia
408      LVA  2014   18.1      Latvia
409      LVA  2015   18.1      Latvia
410      LTU  2006   31.2   Lithuania
411      LTU  2007   31.0   Lithuania
412      LTU  2008   33.7   Lithuania
413      LTU  2009   34.5   Lithuania
414      LTU  2010   31.6   Lithuania
415      LTU  2011   32.2   Lithuania
416      LTU  2012   29.5   Lithuania
417      LTU  2013   34.8   Lithuania
418      LTU  2014   29.8   Lithuania
419      LTU  2015   29.0   Lithuania
420      LTU  2016   26.7   Lithuania
421      LTU  2017   24.4   Lithuania
422      CRI  2006    8.6  Costa Rica
423      CRI  2007    6.4  Costa Rica
424      CRI  2008    6.3  Costa Rica
425      CRI  2009    6.6  Costa Rica
426      CRI  2010    7.1  Costa Rica
427      CRI  2011    7.1  Costa Rica
428      CRI  2012    6.7  Costa Rica
429      CRI  2013    7.0  Costa Rica
430      CRI  2014    5.8  Costa Rica

[431 rows x 4 columns]

In [33]:
TauxSuicide.COUNTRY.unique

<bound method Series.unique of 0      Australia
1      Australia
2      Australia
3      Australia
4      Australia
5      Australia
6      Australia
7      Australia
8      Australia
9      Australia
10     Australia
11       Austria
12       Austria
13       Austria
14       Austria
15       Austria
16       Austria
17       Austria
18       Austria
19       Austria
20       Austria
21       Austria
22       Austria
23       Belgium
24       Belgium
25       Belgium
26       Belgium
27       Belgium
28       Belgium
29       Belgium
         ...
401       Latvia
402       Latvia
403       Latvia
404       Latvia
405       Latvia
406       Latvia
407       Latvia
408       Latvia
409       Latvia
410    Lithuania
411    Lithuania
412    Lithuania
413    Lithuania
414    Lithuania
415    Lithuania
416    Lithuania
417    Lithuania
418    Lithuania
419    Lithuania
420    Lithuania
421    Lithuania
422          NaN
423          NaN
424          NaN
425          NaN
426          NaN
427          NaN
428          NaN
429          NaN
430          NaN
Name: COUNTRY, Length: 431, dtype: object>

In [34]:
TauxSuicide.LOCATION.unique

<bound method Series.unique of 0      AUS
1      AUS
2      AUS
3      AUS
4      AUS
5      AUS
6      AUS
7      AUS
8      AUS
9      AUS
10     AUS
11     AUT
12     AUT
13     AUT
14     AUT
15     AUT
16     AUT
17     AUT
18     AUT
19     AUT
20     AUT
21     AUT
22     AUT
23     BEL
24     BEL
25     BEL
26     BEL
27     BEL
28     BEL
29     BEL
      ...
401    LVA
402    LVA
403    LVA
404    LVA
405    LVA
406    LVA
407    LVA
408    LVA
409    LVA
410    LTU
411    LTU
412    LTU
413    LTU
414    LTU
415    LTU
416    LTU
417    LTU
418    LTU
419    LTU
420    LTU
421    LTU
422    CRI
423    CRI
424    CRI
425    CRI
426    CRI
427    CRI
428    CRI
429    CRI
430    CRI
Name: LOCATION, Length: 431, dtype: object>